
CSI/SIGEPI_CSI/.vs/SIGEPI_CSI/v15/Server/sqlite3/storage.ide-wal
CSI/SIGEPI_CSI/.vs/SIGEPI_CSI/v15/Server/sqlite3/storage.ide-shm
CSI/SIGEPI_CSI/.vs/SIGEPI_CSI/v15/Server/sqlite3/storage.ide
CSI/SIGEPI_CSI/.vs/SIGEPI_CSI/v15/.suo
CSI/SIGEPI_CSI/Construccion/bin/Construccion.dll
CSI/SIGEPI_CSI/Construccion/bin/Construccion.pdb
CSI/SIGEPI_CSI/Construccion/obj/Debug/Construccion.csproj.CoreCompileInputs.cache
CSI/SIGEPI_CSI/Construccion/obj/Debug/Construccion.csprojAssemblyReference.cache
CSI/SIGEPI_CSI/Construccion/obj/Debug/Construccion.dll
CSI/SIGEPI_CSI/Construccion/obj/Debug/Construccion.pdb
CSI/SIGEPI_CSI/Construccion/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CSI/SIGEPI_CSI/.vs/SIGEPI_CSI/v15/.suo
CSI/SIGEPI_CSI/.vs/SIGEPI_CSI/v15/Server/sqlite3/storage.ide
CSI/SIGEPI_CSI/.vs/SIGEPI_CSI/v15/Server/sqlite3/storage.ide-shm
CSI/SIGEPI_CSI/.vs/SIGEPI_CSI/v15/Server/sqlite3/storage.ide-wal
CSI/SIGEPI_CSI/Construccion/bin/BouncyCastle.Crypto.dll
CSI/SIGEPI_CSI/Construccion/bin/Construccion.dll
CSI/SIGEPI_CSI/Construccion/bin/Construccion.pdb
CSI/SIGEPI_CSI/Construccion/bin/Google.Protobuf.dll
CSI/SIGEPI_CSI/Construccion/obj/Debug/Construccion.csproj.CoreCompileInputs.cache
CSI/SIGEPI_CSI/Construccion/obj/Debug/Construccion.csprojAssemblyReference.cache
CSI/SIGEPI_CSI/Construccion/obj/Debug/Construccion.dll
CSI/SIGEPI_CSI/Construccion/obj/Debug/Construccion.pdb
